html,body {
	background-color: #cccccc;
	padding: 0;
	margin: 0;
	overflow: auto;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #455A64;
	width: 100%;
	height: 50px;
	margin: 0;
	position: fixed;
	box-shadow: 0px 1px 7px #262626;
	z-index: 2;
}

p {
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	font-size: 16pt;
}

h1 {
	font-family: 'Nunito', sans-serif;
	color: #ffffff;
	font-weight: 400;
	font-size: 32pt;
}

h2 {
	margin: 0;
	font-family: 'Nunito', sans-serif;
	color: #ffffff;
	font-weight: 300;
	font-size: 18pt;
}

h3 {
	margin: 0;
	font-family: 'Nunito', sans-serif;
	color: #ffffff;
	font-weight: 200;
	font-size: 15pt;
}

.currentdetails {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 0 40px 0 40px;
}

.currentdetails > p {
	font-size: 13pt;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 8px;
	margin-bottom: 8px;
}

.hour {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	padding-top: 13px;
	border-top: 1px #CFD8DC solid;
}

.hour > p {
	font-size: 13pt;
	margin: 0;
	font-weight: bold;
}

.houricon {
	height: 40px;
	align-self: center;
}

.pac-container {
	border-top: none;
	margin-top: 1px !important;
	padding-left: 7px !important;
	padding-right: 7px !important;
	padding-bottom: 6px !important;
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important; 
	border-bottom-left-radius: 3px !important;
	border-bottom-right-radius: 3px !important;
}

.splashtext {
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
}

.sectionheader {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 40px;
	background-color: #718792;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.sectionheader > h2 {
	padding-left: 15px;
}

#splashscreen {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	padding-top: 240px;
	z-index: 5;
	background-color: #455A64;
	opacity: 1;
}

#splashscreen > h2 {
	position: relative;
	top: -16px;
}

#splashlocbutton {
	color: #ffffff;
	padding: 8px;
}

#splashlocbutton:hover {
	color: #B0BEC5;
	cursor: pointer;
}

#splashsearchdiv {
	display: flex;
	flex-direction: row;
	padding-top: 45px;
}

#splashlocate {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 500px;
	height: 50px;
	margin: 0 20px 0 20px;
	background-color: #ffffff;
	border-radius: 25px;
	box-shadow: 0px 0px 5px #666666 inset;
}

#splashsearch {
	border: none;
	background-color: transparent;
	width: 500px;
	text-align: center;
	font-family: 'Nunito', sans-serif;
	letter-spacing: 1px;
	font-size: 16pt;
	padding-right: 18px;
	padding-left: 18px;
}

#splashsearch:focus {
	outline: none;
}

#splashsearchbutton {
	color: #ffffff;
	transform: scaleX(-1);
	padding: 8px
}

#splashsearchbutton:hover {
	color: #B0BEC5;
	cursor: pointer;
}

#splashexit {
	color: #EF5350;
	position: absolute;
	top: 19px;
	right: 19px;
	padding: 6px;
}

#splashexit:hover {
	color: #D32F2F;
	cursor: pointer;
}

#logo {
	color: #ffffff;
	position: fixed;
	left: 22px;
	transform: rotate(-20deg);
	z-index: 3;
}

#logolbl {
	color: #ffffff;
	position: fixed;
	left: 47px;
	margin: 0;
	z-index: 3;
}

#location {
	padding: 8px;
	margin: 17px;
	color: #ffffff;
	font-size: 15pt;
}

#location:hover {
	color: #B0BEC5;
	cursor: pointer;
}

#searchbox {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 370px;
	height: 30px;
	background-color: #ffffff;
	border-radius: 15px;
	box-shadow: 0px 0px 3px #666666 inset;
}

#autocomplete {
	border: none;
	background-color: transparent;
	width: 370px;
	text-align: center;
	font-size: 12pt;
	font-family: 'Nunito', sans-serif;
	letter-spacing: 1px;
	padding-right: 10px;
	padding-left: 10px;
}

#autocomplete:focus {
	outline: none;
}

#search {
	color: #666666;
	float: right;
	padding: 7px 10px 7px 10px;
	transform: scaleX(-1);
	font-size: 12pt;
}

#search:hover {
	color: black;
	cursor: pointer;
}

#favorites {
	padding: 8px;
	margin: 17px;
	color: #ffffff;
	font-size: 16pt;
}

#favorites:hover {
	color: #B0BEC5;
	cursor: pointer;
}

#github {
	color: #ffffff;
	position: fixed;
	right: 13px;
	top: 4px;
	z-index: 3;
	font-size: 20pt;
	padding: 7px;
}

#github:hover {
	color: #B0BEC5;
	cursor: pointer;
}

#favoritelocations {
	display: none;
	background-color: #ffffff;
	position: fixed;
	top: 58px;
	left: 65%;
	width: 300px;
	height: 250px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	box-shadow: 0px 0px 6px #666666;
}

#favoriteheader {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 30px;
	background-color: #EF5350;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

#favoriteslabel {
	margin: 0;
	padding-left: 12px;
	font-size: 13pt;
	color: #ffffff;
	font-weight: 300;
}

#maincontainer {
	display: grid;
	width: 90%;
	grid-template-rows: 400px 400px 600px;
	grid-template-columns: 2fr 1fr;
	grid-gap: 14px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 75px;
	padding-bottom: 70px;
	padding-right: 20px;
	padding-left: 20px;
}

#maincontainer > div {
	background-color: white;
	box-shadow: 0px 1px 6px #666666;
	border-radius: 3px;
}

#currentcontent {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 60px 40px 60px 40px;
}

#temp {
	color: #000000;
	margin: 0;
}

#condition {
	color: #000000;
}

#faveicon {
	display: none;
	color: #ffffff;
	margin-left: auto;
	padding: 6px 6px 6px 6px;
	margin-right: 6px;
}

#faveicon:hover {
	color: #EF5350;
	cursor: pointer;
}

#icon {
	display: block;
	height: 130px;
}

#hourly {
	grid-column: 2 / span 2;
	grid-row: 1 / span 2;
}

#hourlycontent {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 25px 25px 35px 25px;
	height: 724px;
}

#hourlycontent > h2 {
	color: #000000;
	font-size: 16pt;
	padding-bottom: 10px;
}

#radar {
	grid-column: 1 / span 3;
}