body {
	background-color: #cccccc;
	padding: 0;
	margin: 0;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #455A64;
	width: 100%;
	height: 50px;
	margin: 0;
	position: fixed;
	box-shadow: 0px 1px 10px #666666;
	z-index: 2;
}

p {
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	font-size: 16pt;
}

h2 {
	margin: 0;
	padding-left: 15px;
	font-family: 'Nunito', sans-serif;
	color: #ffffff;
	font-weight: 300;
	font-size: 18pt;
}

h3 {
	margin: 0;
	font-family: 'Nunito', sans-serif;
	color: #ffffff;
	font-weight: 200;
	font-size: 15pt;
}

.sectionheader {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 40px;
	background-color: #718792;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

#logo {
	color: #ffffff;
	position: fixed;
	padding-top: 17px;
	padding-left: 16px;
	transform: rotate(-20deg);
	z-index: 3;
}

#logolbl {
	color: #ffffff;
	position: fixed;
	margin: 0;
	padding-left: 46px;
	padding-top: 10px;
	z-index: 3;
}

#location {
	padding: 8px;
	margin: 17px;
	color: #ffffff;
	font-size: 15pt;
}

#location:hover {
	color: #cccccc;
	cursor: pointer;
}

#searchbox {
	display: inline-block;
	width: 370px;
	height: 30px;
	background-color: #ffffff;
	border-radius: 15px;
	box-shadow: 0px 0px 5px #666666 inset;
}

#autocomplete {
	border: none;
	background-color: transparent;
	padding: 7px 10px 5px 10px;
	width: 310px;
	text-align: center;
	position: relative;
	left: 15px;
	font-family: 'Nunito', sans-serif;
	letter-spacing: 1px;
}

#autocomplete:focus {
	outline: none;
}

#search {
	color: #666666;
	float: right;
	padding: 7px 10px 7px 10px;
	transform: scaleX(-1);
	font-size: 12pt;
}

#search:hover {
	color: black;
	cursor: pointer;
}

#favorites {
	padding: 8px;
	margin: 17px;
	color: #ffffff;
	font-size: 16pt;
}

#favorites:hover {
	color: #cccccc;
	cursor: pointer;
}

#github {
	color: #ffffff;
	position: fixed;
	right: 13px;
	top: 4px;
	z-index: 3;
	font-size: 20pt;
	padding: 7px;
}

#github:hover {
	color: #cccccc;
	cursor: pointer;
}

#container {
	display: grid;
	width: 85%;
	grid-template-rows: 450px 450px;
	grid-template-columns: 2fr 2fr 2fr;
	grid-gap: 17px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 70px;
	padding-bottom: 70px;
	padding-right: 20px;
	padding-left: 20px;
}

#container > div {
	background-color: white;
	box-shadow: 0px 1px 6px #666666;
	border-radius: 3px;
}

#currently {
	grid-column: 1 / span 2;
}

#currentcontent {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

#icon {
	display: block;
	height: 200px;
}

#description {
	display: block;
}

#radar {
	grid-column: 2 / span 2;
}